*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

.title-1{
    padding-top: 10px;
}
.text-gray{
    color: #464646db;
}
.bg-1{
    background-color: #F4F4F4;
}
.bg-2{
    background-color:#cf8a8a3a;
}
bg-3{
    background-color: #850000;
}
bg-4{
    background-color: #600000;
}